li {

    list-style-type: none;
    margin: 0px auto;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 8px 16px;
    position: relative;
  }
  
  
  li img 
  {
  width: 50px;
  height: 75px;
  display: block;
  }

  .title-year-wrapper div{
    display: flex;
    gap: 8px;
  }

  
.title-year-wrapper
{
  flex-grow: 1;
}

.close-btn
{
   top: 8px;
   right: 8px;
   position: absolute;

}

  